/* all.css */

@import "http://some.ru/external.css";
@import "https://some.secure.ru/external.css";
@import "/absolute.url.must.not.resolve.css";

@import 'http://some.ru/external.css';
@import 'https://some.secure.ru/external.css';
@import '/absolute.url.must.not.resolve.css';

@import url("http://some.ru/external.css");
@import url("https://some.secure.ru/external.css");
@import url("/absolute.url.must.not.resolve.css");

@import url('http://some.ru/external.css');
@import url("https://some.secure.ru/external.css");
@import url("/absolute.url.must.not.resolve.css");

@import url(http://some.ru/external.css);
@import url(https://some.secure.ru/external.css);
@import url(/absolute.url.must.not.resolve.css);

@media screen and (max-device-width: 480px) {

/* b-includes.css */

.b-includes {}

/* b-includes_one.css */

.b-includes_one {}



/* b-includes_two.css */



.b-includes_two {}



/* b-includes_three.css */

.b-includes_tree {}



/* b-includes_four.css */

.b-includes_four {}

/* b-resources.css */

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans'), local('PTSans'), url("b-resources/b-resources.woff") format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans'), local('PTSans'), url("b-resources/b-resources.woff") format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans'), local('PTSans'), url("b-resources/b-resources.woff") format('woff');
}

.b-resources__png { background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAIAAAACUFjqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpi/M+ADzAxjEpjAQABBgBBLAETbs/ntQAAAABJRU5ErkJggg=="); }

.b-resources__gif { background: url("data:image/gif;base64,R0lGODlhCgAKAIAAAP8AAAAAACH5BAAAAAAALAAAAAAKAAoAAAIIhI+py+0PYysAOw=="); }

.b-resources__jpeg { background: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAgAAZABkAAD/7AARRHVja3kAAQAEAAAAUAAA/+4ADkFkb2JlAGTAAAAAAf/bAIQAAgICAgICAgICAgMCAgIDBAMCAgMEBQQEBAQEBQYFBQUFBQUGBgcHCAcHBgkJCgoJCQwMDAwMDAwMDAwMDAwMDAEDAwMFBAUJBgYJDQsJCw0PDg4ODg8PDAwMDAwPDwwMDAwMDA8MDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwM/8AAEQgACgAKAwERAAIRAQMRAf/EAE0AAQEAAAAAAAAAAAAAAAAAAAAIAQEBAQAAAAAAAAAAAAAAAAAABwkQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AIwQxqoAAA//2Q=="); }

.b-resources__jpg { background: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAgAAZABkAAD/7AARRHVja3kAAQAEAAAAUAAA/+4ADkFkb2JlAGTAAAAAAf/bAIQAAgICAgICAgICAgMCAgIDBAMCAgMEBQQEBAQEBQYFBQUFBQUGBgcHCAcHBgkJCgoJCQwMDAwMDAwMDAwMDAwMDAEDAwMFBAUJBgYJDQsJCw0PDg4ODg8PDAwMDAwPDwwMDAwMDA8MDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwM/8AAEQgACgAKAwERAAIRAQMRAf/EAE0AAQEAAAAAAAAAAAAAAAAAAAAIAQEBAQAAAAAAAAAAAAAAAAAABwkQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AIwQxqoAAA//2Q=="); }

.b-resources__svg { background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTBweCIgaGVpZ2h0PSIxMHB4IiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB2aWV3Qm94PSIwIDAgMTAgMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMSI+CiAgICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHN0eWxlPSJmaWxsOnJlZDsiIC8+Cjwvc3ZnPg=="); }

.b-resources__web-one { background: url("http://www.google.com/images/srpr/logo3w.png"); }

.b-resources__web-two { background: url(http://www.google.com/images/srpr/logo3w.png); }

.b-resources__web-three { background: url('http://www.google.com/images/srpr/logo3w.png'); }

.b-resources__absolute-one { background: url("/b-resources.png"); }

.b-resources__absolute-two { background: url(/b-resources.png); }

.b-resources__absolute-three { background: url('/b-resources.png'); }

.b-resources__none-existing { background: url("b-resources/b-resources__none-existing.png"); }





}





